.pricing-container {
  background: url(../../images/pricing.jpg);
  background-position: center;
  background-attachment: fixed;
}

.card-container {
  height: 550px;
}

.pricing-title {
  color: #F36100;
}
