.reg-title {
  color: #F36100;
}

.reg-btn {
  background-color: #F36100;
  border: none;
}

.reg-btn:hover {
  background-color: #d65600;
}

.back-login {
  text-decoration: none;
}

.back-login:hover {
  text-decoration: underline;
}
